@page
@using Entities.Models.Enum
@model DiamondAssessment.Pages.DetailForm

@{
    Layout = "Shared/_Layout";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "Staff") Response.Redirect("/Error");
}

<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Form.Id)
    </dd>
    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Form.Name)
    </dd>
    <dt class="col-sm-2">Description</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Form.Description)
    </dd>
    <dt class="col-sm-2">Phone Number</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Form.PhoneNumber)
    </dd>
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Form.Email)
    </dd>
    <dt class="col-sm-2">Staff Name</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Form.Staff.Name)
    </dd>
    <dt class="col-sm-2">Status</dt>
    <dd class="col-sm-10">
        <span class="badge bg-primary">Is Active</span>
    </dd>
    
</dl>

<h2>Ticket list</h2>
<a class="btn btn-sm btn-primary my-2" asp-page="/Staff/Ticket/Create" asp-route-formId="@Model.Form.Id.ToString()">Create Ticket</a>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Ticket Name</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>@item.TicketName</td>
                <td>
                    @switch (@item.TicketStatus)
                    {
                        case TicketStatus.Pending:
                            <span class="text-secondary">@item.TicketStatus</span>
                            break;
                        case TicketStatus.InProgress:
                            <span class="text-warning">@item.TicketStatus</span>
                            break;
                        case TicketStatus.Done:
                            <span class="text-primary">@item.TicketStatus</span>
                            break;
                    }
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-page="../Ticket/Detail" asp-route-id="@item.Id">Detail</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-page="../Ticket/Update" asp-route-id="@item.Id.ToString()">Edit</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-page="../Ticket/Delete" asp-route-id="@item.Id.ToString()">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
