@page
@model DiamondAssessment.Pages.FormPageModel
@{
    ViewData["Title"] = "Register Form Manager";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "3") Response.Redirect("/Error");
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forms[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forms[0].PhoneNumber)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Forms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-page="/Staff/RegisterForm/DeleteForm" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
