@page
@model DiamondAssessment.Pages.Staff.Diamond.Detail

@{
    Layout = "Shared/_Layout";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "Staff") Response.Redirect("/Error");
}

<div class="container mt-4">
    <h1 class="mb-4">Diamond Details</h1>

    <div class="card mb-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Id</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Id)</dd>

                <dt class="col-sm-3">Origin</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Origin)</dd>

                <dt class="col-sm-3">Carat Weight</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.CaratWeight)</dd>

                <dt class="col-sm-3">Clarity</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Clarity)</dd>

                <dt class="col-sm-3">Cut</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Cut)</dd>

                <dt class="col-sm-3">Proportions</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Proportions)</dd>

                <dt class="col-sm-3">Color</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Color)</dd>

                <dt class="col-sm-3">Polish</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Polish)</dd>

                <dt class="col-sm-3">Symmetry</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Symmetry)</dd>

                <dt class="col-sm-3">Fluorescence</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Fluorescence)</dd>

                <dt class="col-sm-3">Staff Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Diamond.Staff.Name)</dd>
            </dl>
        </div>
    </div>
</div>
@if (Model.havePaper)
{
<a class="btn btn-primary" asp-page="../AssessmentPaper/Detail" asp-route-ticketId="@Model.Diamond.TicketId">View Assessment Paper</a>
}
else
{
<a class="btn btn-primary" asp-page="../AssessmentPaper/Create" asp-route-diamondId="@Model.Diamond.Id" asp-route-ticketId="@Model.Diamond.TicketId">Create Assessment Paper</a>
}

<div class="mt-3 text-center">
    <a asp-page="/Staff/Diamond/Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}