@page
@model DiamondAssessment.Pages.Diamond.IndexModel
@{
    ViewData["Title"] = "Diamond Manager";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "3") Response.Redirect("/Error");
}

<h1 class="my-4">@ViewData["Title"]</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Origin</th>
                <th scope="col">CaratWeight</th>
                <th scope="col">Clarity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var diamond in Model.Diamonds)
            {
                <tr>
                    <th scope="col">@diamond.Id</th>
                    <th scope="col">@diamond.Origin</th>
                    <th scope="col">@diamond.CaratWeight</th>
                    <th scope="col">@diamond.Clarity</th>
                    <td>
                        <a href="btn btn-sm btn-primary" asp-page="./Detail"
                            asp-route-id="@diamond.Id.ToString()">Detail</a>
                        <a class="btn btn-sm btn-primary" asp-page="./Update" asp-route-id="@diamond.Id.ToString()">Edit</a>
                        <a class="btn btn-sm btn-danger" asp-page="./Delete"
                            asp-route-id="@diamond.Id.ToString()">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-page="Create" class="btn btn-primary">Create New Diamond</a>