@page
@model DiamondAssessment.Pages.Diamond.IndexModel
@{
    ViewData["Title"] = "Diamond Manager";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "1") Response.Redirect("/Login");
}

<h1 class="my-4">@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Origin</th>
            <th scope="col">Measurement</th>
            <th scope="col">CaratWeight</th>
            <th scope="col">Clarity</th>
            <th scope="col">Cut</th>
            <th scope="col">Proportions</th>
            <th scope="col">Color</th>
            <th scope="col">Polish</th>
            <th scope="col">Symmetry</th>
            <th scope="col">Flourescence</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var diamond in Model.Diamonds)
        {
            <tr>
                <th scope="col">@diamond.Id</th>
                <th scope="col">@diamond.Origin</th>
                <th scope="col">@diamond.Measurement</th>
                <th scope="col">@diamond.CaratWeight</th>
                <th scope="col">@diamond.Clarity</th>
                <th scope="col">@diamond.Cut</th>
                <th scope="col">@diamond.Proportions</th>
                <th scope="col">@diamond.Color</th>
                <th scope="col">@diamond.Polish</th>
                <th scope="col">@diamond.Symmetry</th>
                <th scope="col">@diamond.Fluorescence</th>
                <td>
                    <a asp-page="Edit" asp-route-id="@diamond.Id">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@diamond.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="Create" class="btn btn-primary">Create New Diamond</a>