@page
@model DiamondAssessment.Pages.Staff.Diamond.IndexModel
@{
    ViewData["Title"] = "Diamond Manager";
    Layout = "Shared/_Layout";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "Staff") Response.Redirect("/Error");
}

<h1 class="my-4">@ViewData["Title"]</h1>

@* <a asp-page="Create" class="btn btn-primary">Create New Diamond</a> *@
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Origin</th>
                <th scope="col">CaratWeight</th>
                <th scope="col">Clarity</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var diamond in Model.Diamonds)
            {
                <tr>
                    <td>@diamond.Id</td>
                    <td>@diamond.Origin</td>
                    <td>@diamond.CaratWeight</td>
                    <td>@diamond.Clarity</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-page="./Detail"
                            asp-route-id="@diamond.TicketId">Detail</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-page="./Update" 
                           asp-route-id="@diamond.Id.ToString()">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger" asp-page="./Delete"
                            asp-route-id="@diamond.Id.ToString()">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

