@page
@model DiamondAssessment.Pages.Staff.Diamond.IndexModel
@{
    ViewData["Title"] = "Diamond Manager";
    Layout = "Shared/_Layout";
    var role = HttpContext.Session.GetString("Role");
    if (role is not "Staff") Response.Redirect("/Error");
}

<div class="container mt-4">
    @* <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Diamond Manager</h1>
    <a class="btn btn-primary" asp-page="/Staff/Diamond/Create">
    <i class="bi bi-plus-lg"></i> Create Diamond
    </a>
    </div> *@

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Origin</th>
                    <th>Carat Weight</th>
                    <th>Clarity</th>
                    @* <th>Staff</th> *@
                    <th class="text-center" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Diamonds)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Origin)</td>
                        <td>@Html.DisplayFor(modelItem => item.CaratWeight)</td>
                        <td>@Html.DisplayFor(modelItem => item.Clarity)</td>
                        @* <td>@Html.DisplayFor(modelItem => item.Staff.Name)</td> *@

                        <td class="text-center">
                            <a class="btn btn-sm btn-info" asp-page="/Staff/Diamond/Detail"
                                asp-route-id="@item.Id.ToString()">
                                <i class="bi bi-eye"></i> Detail
                            </a>
                        </td>
                        @*<td class="text-center">
                    <a class="btn btn-sm btn-warning" asp-page="/Staff/Diamond/Update"
                    asp-route-id="@item.Id.ToString()">
                    <i class="bi bi-pencil-square"></i> Update
                    </a>
                    </td> *@
                        <td class="text-center">
                            <a class="btn btn-sm btn-danger" asp-page="/Staff/Diamond/Delete"
                                asp-route-id="@item.Id.ToString()">
                                <i class="bi bi-x-circle"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between">
        <a asp-page="./Index" asp-route-PageNumber="@(Model.PageNumber - 1)" class="btn btn-outline-secondary"
            disabled="@(Model.PageNumber == 1)">
            Previous
        </a>

        <div>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <a asp-page="./Index" asp-route-PageNumber="@i"
                    class="btn @(i == Model.PageNumber ? "btn-primary" : "btn-outline-secondary")">@i</a>
            }
        </div>

        <a asp-page="./Index" asp-route-PageNumber="@(Model.PageNumber + 1)" class="btn btn-outline-secondary"
            disabled="@(Model.PageNumber == Model.TotalPages)">
            Next
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}